/* ==========================================================================
Component
========================================================================== */
.landing {
  position: relative;
  width: 100%;
  height: 100%;
}

/* ==========================================================================
Elements
========================================================================== */
.progress {
  position: fixed;
  top: $gutter-md;
  left: $gutter-md;
}

.viewport {
  width: 50%;
  height: 50%;
}

/* ==========================================================================
Modifiers
========================================================================== */
