/* ==========================================================================
Component
========================================================================== */
.section {
  @extend %flex-center;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid $green;
}

/* ==========================================================================
Elements
========================================================================== */
.progress {
  position: absolute;
  bottom: $gutter-md;
  right: $gutter-md;
}

.content {
}
/* ==========================================================================
Modifiers
========================================================================== */
