/* ==========================================================================
Component
========================================================================== */
.styleguide {

}

/* ==========================================================================
Elements
========================================================================== */
.heading {
  margin: 0 0 $gutter-md;
  padding: 0 0 $gutter-xs;
  border-bottom: 2px solid $grey;
}


/* ==========================================================================
Modifiers
========================================================================== */
